# compiled output
/dist
dist
dist/
./movie-app/dist
/tmp
/out-tsc
/coverage
./coverage
coverage
.prettierrc.json
./.prettierrc.json
../.prettierrc.json
# dependencies
/node_modules
./node_modules
./movie-app/node_modules
package-lock.json
../package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
/.DS_Store
.DS_Store
./.DS_Store
# compiled output
/dist
./movie-app/dist
/tmp
/out-tsc
/server-build
server-build

# dependencies
/node_modules
node_modules
.next
/.next
package-lock.json
../packaga-lock.json
./movie-app/node_modules
./movie-app/package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
movie-app/.DS_Store
movie-app/.DS_Store
movie-app/.DS_Store
